:root{

  --bg:#0F172A;
  --card:#1E293B;

  --text:#FFFFFF;
  --secondary:#CBD5E1;

  --accent:#38BDF8;

}

body[data-theme="light"]{

  --bg:#F8FAFC;
  --card:#FFFFFF;
  --text:#0F172A;
  --secondary:#475569;
  --accent:#0EA5E9;

}

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:var(--bg);
color:var(--text);
transition:.3s;

}